NEXT_PUBLIC_APP_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
AUTH_SESSION_SECRET=replace_with_a_random_32_plus_character_secret
USER_STORE_FILE=./data/users.json
ORDER_STORE_FILE=./data/orders.json
